services:
  - type: web
    name: hrms-lite-api
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: hrms-db
          property: connectionString
      - key: PYTHON_VERSION
        value: 3.11.0

databases:
  - name: hrms-db
    databaseName: hrms
    user: hrms_user
    plan: free
